.email-listing{
  width: 1000px;
  height: 30px;
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  position: relative;
  float: left;
  /* background-color: grey;
  border: 1px red solid; */
  z-index: 1000;
  padding-top: 10px;
}
.block{
  width: 1000px;
  position: relative;
  left: 300px;
  /* background-color: yellow;
  border: red 1px solid; */
  z-index: 0;
  /* border: 1px black solid; */
}

#star-block{
  width: 1000px;
  position: relative;
  left: 300px;
  /* background-color: yellow;
  border: red 1px solid; */
  z-index: 100;
  /* border: 1px black solid; */
}

.star{
  float: left;
}

#sidebar{
  width: 300px;
  hieght: 1000px;
  position: absolute;
  float: left;
  /* background-color: pink;
  border: 1px blue solid; */
}
body{
  padding: 50px;
}
