<h1>This is not gmail</h1>
<div id="sidebar">
  {{#link-to "compose"}}
   <h3>Compose</h3>
  {{/link-to}}
  {{#link-to "index"}}
   Inbox
  {{/link-to}}
  <br />
  <br />
  {{#link-to "trash"}}
   Trash
  {{/link-to}}
  <br />
  <br />
  {{#link-to "sent"}}
   Sent
  {{/link-to}}
</div>

{{outlet}}
