<div id="star-block">
  <div>
    <h3>Starred</h3>
  </div>
  {{#each model as |email|}}
  {{#if email.starred}}
    <SingleEmail @email={{email}} />
  {{/if}}
  {{/each}}
</div>

<div class="block">
  <div>
    <h3>Index</h3>
  </div>
  {{#each model as |email|}}
  {{#unless email.starred}}
    <SingleEmail @email={{email}}/>
  {{/unless}}
  {{/each}}
</div>

{{outlet}}
